body{
    background: #d8da3d;
    font-family: "Times New Roman";
    font-size: 14px;
    width: 1000px;
    margin: 0px auto;
}
#menu{
    width: 1000px;

}
#menu #p{
    color: #800080;
}
a{text-decoration: none}
